.login-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

label {
    font-size: 1.4rem;
}

input {
    width: 50%;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

button {
    width: 20%;
    margin-top: 20px;
    border: none;
    padding: 10px 15px;
    background-color: #ddd;
    cursor: pointer;
    outline: none;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: rgb(61, 61, 61);
    color: white;
}