nav.main-nav {
    /* background-color: coral; */
    padding: 0 30px 30px 0;
}

.main-nav ul {
    list-style-type: none;
}

.main-nav a {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: .2s;
}

.main-nav a:hover {
    transform: translateX(20px);
}

.main-nav a.active {
    border-left: 10px solid grey;
    transform: translateX(0);
}


.main-nav li:nth-child(1) a.active {
    border-left-color: green;
}

.main-nav li:nth-child(2) a.active {
    border-left-color: blue;
}

.main-nav li:nth-child(3) a.active {
    border-left-color: yellow;
}

.main-nav li:nth-child(4) a.active {
    border-left-color: red;
}